 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--link-->
     <title>Document</title>
 </head>
 <body>
     <!--HEADER-->
     <!--FIN DE HEADER-->
     <!--LOGIN-->
    
     <form action="/" method="post">
         <input type="text" id="nombre" name="nombre" required placeholder="Nombre de Usuario">
         <input type="password" id="password" name="password" required placeholder="Contraseña">
         <button type="submit" id="buttonEnviar" name="enviar">Enviar</button>
     </form>
    
     <!--FIN DE LOGIN-->
     <!--FOOTER-->
     <!--FIN DE FOOTER-->

 </body>
 </html>