@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --amarillo:#EAC926;
    --amarilloClaro:rgb(255, 251, 193);
    --azul:#03264c;
    --blanco:#ffff;
    --AzulOscuro:#222222;
    --morado: rgb(133, 106, 255);

    --roboto:"Roboto",sans-serif;
}

body{
    font-family:var(--roboto);
}


.main-header{
    position: fixed;                     /*lo dejamos fijo*/
    top: 0px;                             /*lo dejamos fijo en la posición cero de arriba más abajo nostoca acomodar el cuerpo(, main fomr ) en este caso el crate-form con un margin top */
    background-color:var(--amarillo);
    padding: 20px;
}

.hamburguer-button{
    background-color:var(--azul);
    color:var(--blanco);
    display:block;
    max-width: 40px;
    padding:10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin:auto;
}

.logo {
    width: 200px;
}

.copy-header{
    font-weight:400;
    text-align: center;
}
.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}


.main-navbar a {
    text-decoration: none;/* queta la linea de debajo*/
    color :var(--AzulOscuro);/*color de la letra*/
    display: inline-block;/*lo convertimos en atributos de linea y bloque*/
    padding: 5px 0px;/*le damos un poco de relleno tanto en top como en abajo */
    font-size:17px;
}

@media screen and (min-width:361px) {
    .main-header{
        position: fixed;                     /*lo dejamos fijo*/
        top: 0px;   
    }
    .create-form{
            margin-top:var(--amarilloClaro) 220px;

            }
    
}

@media screen and (min-width:769px){  /*tambien sirve con @media ()...*/
    .main-header{
        position: fixed;                     /*lo dejamos fijo*/
        top: 0px;   
    }
    .create-form{
            margin-top: 220px;
            }
    


    .main-headet-top-bar{
        display: flex;
        justify-content: space-around;

    }
    .main-header-top-bar .buscar{
        display: flex;
        justify-content: center;
        padding: 0px 30px;
    }

    .main-navbar li{
        margin: 0 15px;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .left-navbar{
        display: flex;
        padding:10px 10px;
        margin: auto;
        
    }

    .rigth-navbar{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .main-header{
        position: fixed;                     /*lo dejamos fijo*/
        top: 0px;   }
    .create-form{
        margin-top: 220px;
        }

    .logo{
        width: 250px;
    }
    .main-headet-top-bar, .main-navbar{ /*Limitamos el ancho*/
        max-width: 1200px;
        margin: auto;
    }
    .main-headet-top-bar{
        align-items: center;
        
    }
    .copy-header{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }
    .main-navbar{
        margin-top: 35px;
    }
    .main-navbar li{
        margin: 0 15px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    
}

/* FORMULARIO*/
.create-form{
    padding: 30px 30px;
    align-items: center;
    /*max-width: 1200px;*/
    background-color: rgb(255, 251, 193);
    margin-top: 245px;

}
.control-formulario{
    margin-bottom: 15px; /*genera un marge*/
}
.control-formulario label{
    margin-bottom: 5px;/*genera un margen */
    font-style: italic;
    display: block;

}
.control{
    width:70%;
    padding: 8px;
}

.boton-formulario{
    background-color: var(--azul);
    border:none;
    font-size: 20px;
    color:var(--blanco);
    padding: 5px 10px;
    border-radius: 8px;

}


/*..................Footer*/

footer{
    margin: auto;
    background-color: var(--morado) ;

}


footer section{
        display:block;
        padding: 20px 0px 10px;
        /*width:700;*/
    }
footer section div{
     
        border:none;
        max-width: 40px;
        font-size: 30px;
        color:var(--azul);
        padding: 10px 0px;
        border-radius: 8px;
        text-align: center;
        margin: auto;
    }

@media screen and (min-width:500px){
    footer {
        background-color: var(--morado) ;
        max-width: 1200px;
    }
    footer ul  {    

       
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    ul section{
        padding:5px 10px;
        margin: 5px 5px;
    }
    ul h3{
        font-size: 12px;

    }
    ul p{
        font-size: 10px;
        padding-top: 20px  ;
    }
    footer .copy{
        text-align: center;
    }

}
