/* para usar la funete de roboto
font-family: 'Roboto', sans-serif;
*/

/*
#lista{  font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: salmon;
}*/




/*importamos tipo de letra o fuente roboto, hay otra forma desde html */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* -------------------------------------------NORMALIZACIÓN-----siempre va encima de todo y rompe todo  */
/*   el asterisco hace referencia a universal*/

*{
    margin: 0;
    padding: 0;
    /*box-sizing: inherit;*/
    box-sizing: border-box;
}

:root{
    /*Colores */
    --amarillo: #eac926 ;
    --azul: #03264C;
    --seleste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: rgba(3, 2, 2, 1);
    --blanco: #ffff;
    --azul: #0044aa;
    /* fuentes-Tamaños */
    --cuerpos-de-texto: 1.2em;
    --titulares-visita-ofertas : 2.4em;
    --precios: 1.8em;
    --descuentos: 1.6em;
    --descripciones: 1.6em;
    /*Fuente-tipo de fuentes*/
    --roboto:"Roboto" , sans-serif;

}



/*ESTILOS COMUNES*/
html{
    font-size: 62.5%;            
    
    /* se usa rem em px   */
    /*rem =una unidad del valor por defecrto del navaegador =16px */
    /*em = tamaño de fuente de la etiqueta padre o el navegador= 16px*/
    /*como toca hacer elcalculo de multiplicar rem + la cantidad de px
    entonces pizamos o inicializamos el valor en 62.5% que equivales al 10px
    ahora rem=10px y un em=10px   así que rem=1.3 es igual a 13px*/
   
    font-family: var(--roboto);   /* font-family: "Roboto", sans-serif;*/
}

p{
    font-size: var(--cuerpos-de-texto);
}

h3{
    font-size: var(--titulares-visita-ofertas);
}
.flex-row{
    display: flex;
    gap:20px ;
    align-items: baseline;
    flex-wrap:wrap;
}

/* CABECERA*/
header{
    background-color: var(--amarillo)
}

div.top-header{
    display:flex;
    flex:wrap;
    justify-content: center;
    padding: 5%;
}

header picture.logo{
    display: block;
    width: 50%;
}
.form{
    width:50%;
    display: flex;
}
header nav {
    font-size: var(--cuerpos-de-texto) ;
}

header ul li{
    list-style-type: none ;
    
}

header ul li a{
    text-decoration: none;
    color: var(--negro);       
}
 
header .form .input{
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    color:var(--gris-oscuro);
    padding: 2px;
}


header .form .submit{
    background-color: var(--blanco);
    border: 1px solid var(--negro) ;
    width: 18px;
    padding: 2px;
}

header div.top-header p{
    text-align: center;
}

header nav{
    display: none;
}


div.burger-menu{
    text-align: center;

}

header div.burger-menu i {
    
    background-color: var(--azul);
    font-size: 20px;             /*tamaño*/
    color: var(--blanco);        /*coloe de la figura*/
    height: 40px;
    width: 40px;                       /*tocaba comentariarlo */
    /*text-align: center;*/

    margin: 10px 0px 20px 0px;

    padding: 10px;
    border-radius: 5px;

}


/*BANNER*/

section.banner img{  /*recordemos que el block usa el 100% del bloque toca nombrar a la img pra que funcione
    */
    width: 100%;

}



/*MAIN*/


body{
    background-color: var(--gris-claro);
}


main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: var(--blanco);
    margin:10px 0px;
}


 main section img{
     width: 100%;
 }




 h2, .description{
     color: var(--gris-oscuro);
 }

 .price{
     font-size: var(--precios) ;
    /* width: 30% */;
 }
 /*.discount{     
     width: 70%;
 }*/

main section article i, p.descuento {
    color : var(--verde);
}
.descuento, .description{
    font-size: var(--descuentos);
}

 .description {
    display: none;
}


main section article i{
    font-size: var(--cuerpos-de-texto);
    border: 1px var(--verde) solid;
    border-radius: 50%;

   

    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;/*toca poner (position :relative;) al padre en este caso article div.prodict-card*/
    right: 20px;
    top: -15px;

}

main section h3{
    margin: 20px 0px;
}
main section article div.product-card{
    width:100%;
    border : 1px solid var(--gris-claro);
    padding :15px;
    position:relative;
}


/*foot*/

footer div{
    text-align: center;
    background-color: var(--blanco) ;
    font-size: 20px;
    color: var(--azul);
    height: 10px;
    /*width: 35px;*/
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5%;

}


footer p {
    text-align: center;
    color:var(--gris-oscuro)


}

footer h3.h3 {
    text-align: center;
    color:var(--gris-oscuro)
    

}
footer section h4.copy{
    color: #669;
    font-size: 1.6em;
    text-align:right;

}




/*                                 RESPONSIVE*/
/*QUE CSS Vamos a utilizar en los distintos tamaños de pantalla */
/*solo pantallas screen*/
@media screen and (min-width:361px) {
    
    .burger-menu{
        display:none;
    }

    header nav{
        display:flex;
    }

    nav ul{
        display:flex;
    }

    .description{ 
        display:block;
    } 
    
     main section article{
        box-shadow: 0px 0px 1px rgb(100,100,100);
    }

    .products-container{
        display: flex;
        gap: 10px;
        flex-wrap:wrap;
    }
    .products-container article {
        max-width: 45%;
    }

}

@media screen and (min-width:769px){
    .products-container{
        max-width: 22%;
    }

    nav ul.izquierda{
        display:flex;
        justify-content: flex-start;

    }
    nav ul.derecha{
        display:flex;
        justify-content: flex-end;
        
    }     
}



