/*Inportamos la libreria de la letra Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                             /*Variables */
:root{
/*Colores*/
    --amarillo:#EAC926;
    --azul:#03264c;
    --blanco:#ffff;
    --AzulOscuro:#222222;
/*Tipografia */
    --roboto:"Roboto",sans-serif;
}

body{
    font-family: var(--roboto);
}

.main-header{    /*font-size: 62.5%;*/
    background-color: var(--amarillo);
    padding: 20px;
   /* position: fixed;
    top: 0px;
    z-index: 2;*/
    }

    


.hamburguer-button{
    background-color: var(--azul); /*fondo del recuadro de la figura */
    color:var(--blanco);/*color de la figura */
    display: block;  /*lo combierte en un elemento de bloque, nos permite usar varias funciones y trata de ocupar todo el ancho*/
    max-width: 40px ;/*reducemos el ancho */
    padding: 10px 0px;/*ponemos 10px para el alto y cero para los lados ya que los reducimos con la funcion anterior*/
    border-radius: 8px;/*achica las puntas del recuadro*/
    text-align: center;/*alinea la figura en el centro del recuadro que ocupa */
    font-size: 18px;/*genera como un tipo de margen pero no es una margen*/
    margin: auto;/*lo centra  ya que esta ocupando toda una fila */
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;  /* reduce el grosor de la letra*/
    text-align:center; /*Centra el texto*/
}

.main-navbar{
display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;  
}

.main-navbar a {
    text-decoration: none;/* queta la linea de debajo*/
    color :var(--AzulOscuro);/*color de la letra*/
    display: inline-block;/*lo convertimos en atributos de linea y bloque*/
    padding: 5px 0px;/*le damos un poco de relleno tanto en top como en abajo */
    font-size:17px;
}
footer section div i{
    transition: all 0.7s;
}
footer section div:hover i{
    color: black;
}



/*estilos formulario*/
.create-form{
    padding: 30px 30px;
    background-color: rgb(255, 251, 193);
}
.control-formulario{
    margin-bottom: 15px;
}
.control-formulario .date-user-one{
    font-style: italic;
    display: block;
    margin-bottom: 3px;
}


.boton-formulario{
    background-color: var(--azul);
    border: none;
    font-size: 20px;
    color:var(--blanco);
    padding: 5px 10px;
    border-radius: 8px;
}
h5{
    font-size: 18px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 8px;

}
.check{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.password{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 5px;
}

.password input{
    padding: 5px;
    margin: 5px ;
}
.botones{
    /*display: flex;
    justify-content: space-around;*/
    align-items: center;
    display: flex;
    justify-content: center;
    border:none;
    font-size: 15px;
    color:var(--blanco);
    padding: 5px 10px;
    border-radius: 8px;
    gap: 10px;
}

.boton-enviar , .boton-borrar{ /*toca repetir las los formato s de arriba porque se pisan con el hover */
    font-size: 15px;
    color:var(--blanco);
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(4, 4, 153);
    transition: all 0.8s;
}

.botones .boton-enviar:hover{
    background-color: rgb(6, 1, 44);
}
.boton-borrar:hover{
    background-color: rgb(6, 1, 44);

}

/*...footer*/

footer{
    margin: auto;
    background-color: rgb(133, 106, 255) ;

}


footer section{
        display:block;
        padding: 20px 0px 10px;
        /*width:700;*/
    }
footer section div{
     
        border:none;
        max-width: 40px;
        font-size: 30px;
        color:var(--azul);
        padding: 10px 0px;
        border-radius: 8px;
        text-align: center;
        margin: auto;
    }

@media screen and (min-width:500px){
    footer {
        background-color: rgb(133, 106, 255) ;
        max-width: 1200px;
    }
    footer ul  {    

       
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    ul section{
        padding:5px 10px;
        margin: 5px 5px;
    }
    ul h3{
        font-size: 12px;

    }
    ul p{
        font-size: 10px;
        padding-top: 20px  ;
    }
    footer .copy{
        text-align: center;
    }

}

@media screen and (min-width: 1200px) {

    .logo{
        width: 250px;
    }
    .main-headet-top-bar, .main-navbar{ /*Limitamos el ancho*/
        max-width: 1200px;
        margin: auto;
    }
    .main-headet-top-bar{
        align-items: center;
        
    }
    .copy-header{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }
    .main-navbar{
        margin-top: 35px;
    }
    .main-navbar li{
        margin: 0 15px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    
}

@media screen and (min-width:769px){  /*tambien sirve con @media ()...*/
  
    .main-headet-top-bar{
        display: flex;
        justify-content: space-around;

    }
    .main-header-top-bar .buscar{
        display: flex;
        justify-content: center;
        padding: 0px 30px;
    }

    .main-navbar li{
        margin: 0 15px;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .left-navbar{
        display: flex;
        padding:10px 10px;
        margin: auto;
        
    }

    .rigth-navbar{
        display: flex;
        justify-content: space-between;
    }
}